 <div data-controller="move-div" class="chat-box col l4 right hide-on-med-and-down z-depth-2">
    <div id="chatrooms" data-controller="chatrooms" class="collection chat-list">
    <%= render @current_user.chatrooms %>
    </div>
  </div>